<style>
table,td {
  border : 1px solid black;
  border-collapse: collapse;
  height:auto;
  background-color: none;
}
<style>
table,td {
  border : 1px solid black;
  border-collapse: collapse;
  height:auto;

}
div{
  text-align:center;
  padding-left : 20px;
  padding-right: 20px;
}
a{
  text-decoration: none;
}
.title{
padding-left:15px;
font-size: 18px;
}
header{
font-size:25px;
padding-top : 25px;
padding-bottom: 20px;
background-color:#FAFAD2;
margin: 0px;
}
.maintext{
  text-align: center;
  margin:0px;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
padding-left: 0px;
padding-right: 0px;
border: 1px solid red;
}
.bodytext{
  font-size: 14px;
}
.imp{
  color : red;

}
.imp2{
  color : blue;
}
.mobile{
  color: blue;
  font-size: 15px;
  padding: 0px;
}
.start{
  text-align: center;
  color: #FF6600;
  font-weight: bold;
}
/*네비게이션*/
.menu ul {
  color: #000000;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.menu li a {
  display: block;
  padding: 5px;
  padding-left: 30px;
  color: #000000;
  font-size: 14px;
  text-decoration:none
}
.menu li a:hover {
  background-color: #75dbe7;
}
.menu ul:after {
  content:"";
  display: block;
  clear: both
}
.menu li {
  float:left;
  width:auto;}
  /* sns 공유버튼*/
  .share {
    margin-top: 40px;
  }
  .share ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .share li a {
    display: block;
    padding: 10px 5px;
    color:#ffffff;
    font-size: 14px;
    text-align: center;
    text-decoration: none
  }
  .share-tw{
    background-color: #55acee
  }
  .share-fb{
    background-color: #3b5998
  }
  .share-gp{
    background-color: #dd4b39
  }
  .share li a:hover {
    opacity: 0.8;
  }
  .share ul:after {
    content: "";
    clear: both
  }
  .share li {
    float: left;
    width: 33.3333%;
  }
  @media (max-width: 599px){
  .share span {
    display: inline-block;
    text-indent: -9999px;
  }
  }
</style>
